html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pad {
    display: grid;
    max-width: 960px;
    min-width: 450px;
}

.pad__square {
    text-align: center;
}

.reset {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
}