html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pad {
    display: grid;
    max-width: 960px;
    border: black solid 1px;
    margin: 0 0 20px 0;
}

.pad__square {
    text-align: center;
    background-color: white;
    width: 8px;
    height: 8px;
}

.pad__square--black {
    background-color: black;
}

.reset {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
}

.heading {
}

.heading__main {
    text-align: center;
    margin: 0 0 20px 0;
}

.footer__copyright {
    text-align: center;
}